
<header>Home Page</header>



  <% if(user) { %>
  <h2>Welcome, <%= user %></h2>


  <form method="POST" action="/logout">
    <input type="submit" value="Log out">
  </form>

  <% } else { %>

  <form method="GET" action="/login">
    <input type="submit" value="Sign in">
  <% } %>



