<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<% include partials/_header %>
  <body>
    <h2>Home</h2>
    <ul>
      <% for (urls in allURL) { %>
      <li><%= urls %> - <%= allURL[urls].longURL %></li>
      <form method="POST" action="/urls/<%= urls %>/delete">
        <input type="submit" value="Delete">
      </form>
      <form method="POST" action="/urls/<%= urls %>">
        <input type="submit" value="Edit">
      </form>
      <% };  %>
    </ul>
    <a href="/urls/new"> Click to create a new link</a>
  </body>
</html>