<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

  <h2>Registration</h2>
  <ul>

    <form method="POST" action="/register">

      <label for="register_email">Email Address</label>
      <input id="register_email" name="email" type="email" placeholder="Enter your email" style="width: 300px">
<br>
      <label for="register_password">Password</label>
      <input id="register_password" name="password" type="password" placeholder="Enter a password" style="width: 300px">
<br>
      <input type="submit" value="Register">

    </form>


    <form method="GET" action="/">
      <input type="submit" value="Cancel">
    </form>

  </ul>

</body>
</html>